html(lang='en')
  head
    title Soleado Apart Hotel
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/all.css', rel='stylesheet')
  body
    nav.navbar-center.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/assets/navbar_logo.svg', alt='alt text', style='border:none;')
        div
          ul.nav.navbar-nav
            li
              a.text.navbar-text(href='/#home')
                | Hotel
            li
              a.text.navbar-text(href='/#amenities')
                | Amenities
            li
              a.text.navbar-text(href='/#apartments')
                | Apartments
            li
              a.text.navbar-text(href='/#location')
                | Location
            li
              a.text.navbar-text(href='/contact')
                | Contact
    .contact.contact-page
      a(href='#' class= 'text prominent-text centered-text book-now-button')
        | book now
      a(href='#' class= 'text prominent-text centered-text language')
        | es
      .col-md-4
        .contact-card
          .img-footer-logo
            img(src='/assets/footer_logo.png')
          .separator-text
          .footer-desc
            img(src='/assets/footer_place.png')
            .text.contact-card-text
              | 2901 Belmar St, Fort Lauderdale, FL 33304
          .footer-desc
            img(src='/assets/footer_mail.png')
            .text.contact-card-text
              | info@soleadohotelfortlauderdale.com
          .footer-desc
            img(src='/assets/footer_phone.png')
            .text.contact-card-text
              | (001) 954 565 3187
          .footer-links
            a(href='#')
              img(src='/assets/footer_facebook.png' class='footer-link')
            a(href='#')
              img(src='/assets/footer_twitter.png' class='footer-link')
            a(href='#')
              img(src='/assets/footer_instagram.png' class='footer-link')
      .col-md-8
        .contact-form.contact-form-page
          h1.text.title-text.centered-text
            | contact us
          .separator-text
          table.contact-table
            tr
              td.contact-cell
                input(id= 'name', type='text', name='name', placeholder='NAME', class='text contact-field')
              td.contact-cell
                input(id= 'email', type='text', name='email', placeholder='EMAIL', class='text contact-field')
            tr
              td.contact-cell(colspan='2')
                textarea(id= 'message', name='message', placeholder='MESSAGE' class='text contact-field contact-area')
          button(type='button' id='send' class=' text prominent-text custom-button send-button')
            | send
          //#send.text.prominent-text.custom-button.send-button
            | send
          #contact-caption.centered-text.text.prominent-text.contact-caption
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/vendor/bootstrap.js')
    script(src='/js/contact.js')
    script(src='/js/mandrill_data.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    // inject:js
    // endinject
