doctype html
html(lang='er')
  head
    title Soleado Apart Hotel
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/all.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/vendor/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js')
  body
    nav.navbar-center.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/assets/navbar_logo.svg', alt='alt text', style='border:none;')
        div
          ul.nav.navbar-nav
            li
              a.text.navbar-text(href='/#home')
                | Hotel
            li
              a.text.navbar-text(href='/#amenities')
                | Amenities
            li
              a.text.navbar-text(href='/#apartments')
                | Apartments
            li
              a.text.navbar-text(href='/#location')
                | Location
            li
              a.text.navbar-text(href='/contact')
                | Contact
    .gallery
      a(href='#' class= 'text prominent-text centered-text book-now-button')
        | book now
      a(href='../es/gallery' class= 'text prominent-text centered-text language')
        | es
      #gallery-carousel.gallery-img.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#gallery-carousel', data-slide-to='0')
          li(data-target='#gallery-carousel', data-slide-to='1')
          li(data-target='#gallery-carousel', data-slide-to='2')
          li(data-target='#gallery-carousel', data-slide-to='3')
          li(data-target='#gallery-carousel', data-slide-to='4')
          li(data-target='#gallery-carousel', data-slide-to='5')
          li(data-target='#gallery-carousel', data-slide-to='6')
          li(data-target='#gallery-carousel', data-slide-to='7')
          li(data-target='#gallery-carousel', data-slide-to='8')
          li(data-target='#gallery-carousel', data-slide-to='9')
          li(data-target='#gallery-carousel', data-slide-to='10')
        .carousel-inner
          .item.active
            img(src='/assets/img_photogallery_1.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Ample living room with Full-size sofa-bed, flat-screen Cable TV, Air Conditioning & ceiling fan – Corner apartments
          .item
            img(src='/assets/img_photogallery_3.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Double room with King size bed, flat-screen Cable TV, Air Conditioning & walk-in closets with safe-deposit box
          .item
            img(src='/assets/img_photogallery_2.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Ample living room with Full-size sofa-bed, flat-screen Cable TV, Air Conditioning and/or ceiling fan
          .item
            img(src='/assets/img_photogallery_4.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Double room with King size bed, flat-screen Cable TV, walk-in closets with safe-deposit box, Air Conditioning and/or ceiling fan
          .item
            img(src='/assets/img_photogallery_5.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Studio Apartment equipped with microwave, fridge, dish and silverware, flat screen Cable TV, Air Conditioning & safe deposit box
          .item
            img(src='/assets/img_photogallery_6.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Kitchen with dining table for four, large fridge, electric stoves, microwave, coffee maker, toaster, pans, dish & silverware
          .item
            img(src='/assets/img_photogallery_7.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Bathroom equipped with hair dryer, toiletries & towel service
          .item
            img(src='/assets/img_photogallery_8.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Swimming Pool Area
          .item
            img(src='/assets/img_photogallery_9.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Swimming Pool Area
          .item
            img(src='/assets/img_photogallery_10.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | BBQ and Dining Area
          .item
            img(src='/assets/img_photogallery_11.jpg')
            .carousel-caption
              p.text.gallery-caption-text
                | Backyard Lounge Area
      a.left.carousel-control(href='#gallery-carousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#gallery-carousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next

