doctype html
html(lang='en')
  head
    title Soleado Apart Hotel
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/all.css', rel='stylesheet')
  body
    nav.navbar-center.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#')
            img(src='assets/navbar_logo.svg', alt='alt text', style='border:none;')
        div
          ul.nav.navbar-nav
            li
              a.text.navbar-text(href='#home')
                | Hotel
            li
              a.text.navbar-text(href='#amenities')
                | Amenities
            li
              a.text.navbar-text(href='#apartments')
                | Apartments
            li
              a.text.navbar-text(href='#location')
                | Location
            li
              a.text.navbar-text(href='contact')
                | Contact
    #home.home
      a(href='#' class= 'text prominent-text centered-text book-now-button')
        | book now
      a(href='#' class= 'text prominent-text centered-text language')
        | es
      img(src='assets/img_home.jpg', class='img-home')
      img(src='assets/home_logo.png', class='inner-img-home')
      .home-desc.text.prominent-text
        | Escape to year-long sunshine and blissful ocean breezes. A relaxed environment where
        | you can experience all Florida has to offer from the convenience of your own apartment
      a(href='#' class=' text prominent-text custom-button home-button')
        | book now
    .home-footer
      .text.title-text.centered-text
        | the beach at your front yard
      .separator-text
      .text.body-text
        p.custom-paragraph
          | Completely renovated and decorated with sunny accents, Soleado opens its doos as an
          | alternative to the impersonal an expensive hotel chains in the area where you can stay
          | with family or friends, and embrace what south Florida has to offer.
        p.custom-paragraph
          | Located only a block away from Fort Lauderdale's Beachfront Promenade and sandy beaches,
          | and minutes away from fabulous dining, shopping and nightlife, Soleado Apart Hotel offers
          | the convenience of having your own private apartment while enjoying family-like
          | hospitality eager to make your vacation memorable
    #amenities.amenities
      #amenities-carousel.amenities-back-img.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#amenities-carousel', data-slide-to='0')
          li(data-target='#amenities-carousel', data-slide-to='1')
          li(data-target='#amenities-carousel', data-slide-to='2')
        .carousel-inner
          .item.active
            img(src='assets/img_amenities_1.jpg')
          .item
            img(src='assets/img_amenities_2.jpg')
          .item
            img(src='assets/img_amenities_3.jpg')
      .amenities-panel
        .text.title-text.centered-text
          | amenities
        .separator-text
        .text.body-text
          p.custom-paragraph
            | What distinguishes our family-run business is the eagerness to make your stay as
            | comfortable as possible while enjoying Florida's tropical weather, great shopping and
            | beautiful Venetian coastline.
          p.custom-paragraph
            | Our premises are designed to make your stay pleasant and uncomplicated. Our pool gets
            | sun at every time of the day for you to sunbathe or kids to play by, or to sit by the
            | lounge areas under the shade of the umbrellas.
          p.custom-paragraph
            | The barbeque area is ready to prepare your favourite meals over charcoal or gas. You can
            | reserve the space and get full service, including cleaning, dish and silverware service
            | (upon request). It accomodates parties up to 16 people.
    .amenities-footer
      .col-xs-12.col-sm-12.col-md-4
        img(src='assets/amenities_bbq.png' class='amenities-img')
        .amenities-gap.text.subtitle-text.centered-text
          | gas & charcoal bbqs
        .separator-text
        .text.subbody-text.amenities-desc-gap.centered-text
          | Enjoy a meal in our fully equipped BBQ area
      .col-xs-12.col-sm-12.col-md-4
        img(src='assets/amenities_parking.png' class='amenities-img')
        .amenities-gap.subtitle-text.centered-text
          | parking
        .separator-text
        .text.subbody-text.amenities-desc-gap.centered-text
          | Free self-parking for our guests around our premises
      .col-xs-12.col-sm-12.col-md-4
        img(src='assets/amenities_wifi.png' class='amenities-img')
        .amenities-gap.subtitle-text.centered-text
          | wi-fi
        .separator-text
        .text.subbody-text.amenities-desc-gap.centered-text
          | Free wi-fi in the entire property
    #apartments.apartments
      .col-xs-12.col-sm-12.col-md-6.col-no-padding
        #apartments-carousel.apartments-img.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#apartments-carousel', data-slide-to='0')
            li(data-target='#apartments-carousel', data-slide-to='1')
            li(data-target='#apartments-carousel', data-slide-to='2')
            li(data-target='#apartments-carousel', data-slide-to='3')
          .carousel-inner
            .item.active
              img(src='assets/img_apartments_1.jpg' class='apartments-img')
            .item
              img(src='assets/img_apartments_2.jpg' class='apartments-img')
            .item
              img(src='assets/img_apartments_3.jpg' class='apartments-img')
            .item
              img(src='assets/img_apartments_4.jpg' class='apartments-img')
      .col-xs-12.col-sm-12.col-md-6
        .apartments-sider
          .text.title-text.centered-text
            | our apartments
          .inverted-separator-text
          .text.body-text
            | Soleado has 15 spacious, recently renovated apartments where you can feel like at your
            | beach house. Apartments accomodate up to four guests, and are taken care of daily by
            | our housekeepers.
          a(href='#' class=' text prominent-text custom-button apartments-button')
            | view gallery
    #location.location
      .text.title-text.centered-text
        | where we are located
      .separator-text
      .text.body-text
        p.custom-paragraph
          | Fort Laurerdale is a vibrant and growing coastal city that offers a wide array of
          | activites for all ages. With a beautiful sandy beach almost at your front yard, we are
          | only minutes away from fine dining, great shopping, kids entertainment and the liveliest
          | nightlife on A1A and Las Olas Boulevard.
        p.custom-paragraph
          | Soleado is 20-25 minutes away (6,5 mi) from Fort Lauderdale Hollywood International
          | Airtport, and 45-50 minutes drive from Miami International Airport (32.3 mi).
    .location-map
      #map-canvas
    .attractions
      .text.title-text.centered-text
        | attractions close by
      .separator-text.attractions-gap
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_1.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Fort Laurerdale Beach
            .text.subbody-text
              |0.1 mi | 0.16km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_10.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Riverwalk
            .text.subbody-text
              |3.3 mi | 5.3km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_2.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Galleria Mall
            .text.subbody-text
              |1.3 mi | 2km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_11.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Himarshee
            .text.subbody-text
              |3.5 mi | 5.6km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_3.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Sawgrass Mills
            .text.subbody-text
              |20.2 mi | 32.5km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_12.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Museum of Art
            .text.subbody-text
              |3.2 mi | 5.1km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_4.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Old Fort Lauderdale Breakfast House
            .text.subbody-text
              |4 mi | 6.4km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_13.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Museum of Discovery & Science
            .text.subbody-text
              |3.9 mi | 6.2km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_5.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Bonnet House Museum & Gardens
            .text.subbody-text
              |0.9 mi | 1.5km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_14.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Parker Playhouse
            .text.subbody-text
              |2.8 mi | 4.6km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_6.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Birch State Park
            .text.subbody-text
              |0.7 mi | 1.2km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_15.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |The Classic Gateway Theatre
            .text.subbody-text
              |1.9 mi | 3.1km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_7.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
             |Fort Lauderdarle Beach Park
            .text.subbody-text
              |2 mi | 3km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_16.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Broward Convention Center
            .text.subbody-text
              |3.4 mi | 5.4km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_8.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Down Town Las Olas
            .text.subbody-text
              |3 mi | 4.8km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_17.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Key West
            .text.subbody-text
              |192 mi | 308km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_9.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Port Everglades
            .text.subbody-text
              |3.7 mi | 5.9km
      .col-xs-12.col-sm-12.col-md-6
        .attraction
          img(src='assets/attractions_18.png' class='attraction-img')
          .attraction-desc
            .text.attraction-title-text
              |Walt Disney World Parks
            .text.subbody-text
              |207 mi | 333km
    .contact
      .col-md-4
        .contact-card
          .img-footer-logo
            img(src='assets/footer_logo.png')
          .separator-text
          .footer-desc
            img(src='assets/footer_place.png')
            .text.contact-card-text
              |2901 Belmar St, Fort Lauderdale, FL 33304
          .footer-desc
            img(src='assets/footer_mail.png')
            .text.contact-card-text
              |info@soleadohotelfortlauderdale.com
          .footer-desc
            img(src='assets/footer_phone.png')
            .text.contact-card-text
              |(001) 954 565 3187
          .footer-links
            a(href='#')
              img(src='assets/footer_facebook.png' class='footer-link')
            a(href='#')
              img(src='assets/footer_twitter.png' class='footer-link')
            a(href='#')
              img(src='assets/footer_instagram.png' class='footer-link')
      .col-md-8
        .contact-form
          .text.title-text.centered-text
            | contact us
          .separator-text
          table.contact-table
            tr
              td.contact-cell
                input(id= 'name', type='text', name='name', placeholder='NAME', class='text contact-field')
              td.contact-cell
                input(id= 'email', type='text', name='email', placeholder='EMAIL', class='text contact-field')
            tr
              td.contact-cell(colspan='2')
                textarea(id= 'message', name='message', placeholder='MESSAGE' class='text contact-field contact-area')
          #send.text.prominent-text.custom-button.send-button
            | send
          #contact-caption.centered-text.text.prominent-text.contact-caption
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='/js/vendor/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js')
    // inject:js
    // endinject
