@import 'variables/colors';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  //background-image: url('../assets/wolox_bg.png');
}

.center {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  left: 20%;
  position: absolute;
  text-align: center;
  width: 60%;

  h1 {
    color: $woloxGreen;
  }
}

.navbar-center {
  padding: 0 10%;
}

.text {
  font-family: Montserrat;
  font-weight: normal;
}

