$woloxGreen: #8dc63f;
$woloxBlue: rgba(85, 164, 218, .7);
$softBlack: #262626;
$white: #FFF;
$lighterGray: #A4A4A4;
$softerBlack: #515251;
$orange: #F7B52B;
$whiteSmoke: #F4F5F5;
$grayText: #6D6D6D;
$seaBlue: #E7F5F6;
$black: #000;
$chalk: #F6F7F7;
$darkChalk: #F0F1F1;
$aqua: #54B4B3;
$lightGrayText: #919090;
